<div class="card-grid">
  <p-card subheader="Card Subheader"  role="region" class="small-card p-shadow-2" [style]="{ width: '20em' }">
    <div *ngIf="chartData; else plainCard">
      <canvas #chartCanvas></canvas>
    </div>

 <ng-template #plainCard>
  <div class="stat-card">
    <div class="icon-circle">
      <i class="pi pi-chart-bar"></i> 
    </div>
    <div class="stat-info">
      <h4 class="stat-title">{{ title }}</h4>
      <p class="stat-value">{{ value }}</p>
    </div>
  </div>
</ng-template>


  </p-card>
</div>
