<form [formGroup]="depatementForm" (ngSubmit)="submitForm()" class="form-wrapper mb-5">
  <div class="form-row">
    <div class="form-field">
      <label for="dName">Department Name *</label>
      <input class="form-control" id="dName" pInputText formControlName="dName" />
      <small class="p-error" *ngIf="isInvalid('dName')">Department Name is required.</small>
    </div>
    <div class="form-field">
      <label for="description">Description *</label>
      <input class="form-control" id="description" pInputText formControlName="description" />
      <small class="p-error" *ngIf="isInvalid('description')">Description is required.</small>
    </div>
  </div>
  <div class="form-actions">
    <button pButton type="submit" label="Add Department" [disabled]="depatementForm.invalid"></button>
  </div>
</form>
<app-smart-table-component [columns]="columns" [data]="depratments()"></app-smart-table-component>