.form-wrapper {
  max-width: 500px;
  margin: auto;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
}



.form-actions {
  margin-top: 1rem;
  text-align: right;
}
